<table cellspacing="0">
    <caption>{{ container_count }} container{{ container_count|pluralize }} ({{ bytes_used|filesizeformat }} total)</caption>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for container in containers %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td>&nbsp;</td>
            <td><a href="{% url admin:cumulus-container-objects account.id container.name %}" class="list-arrow" rel="{{ container.name|slugify }}">&nbsp;</a> <a href="{% url admin:cumulus-container-info account.id container.name %}" class="container-link">{{ container.name }}</a></td>
            <td>{{ container.count }} item{{ container.count|pluralize }}</td>
            <td>Container</td>
            <td><a href="{% url admin:cumulus-upload-file account.id container.name %}" class="upload-link">Upload File&hellip;</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
