<table cellspacing="0">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {% for container in containers %}
        <tr class="{% cycle 'row1' 'row2' %}">
            <td>&nbsp;</td>
            <td><a href="{% url admin:cumulus-container-info account.id container.name %}" class="container-link">{{ container.name }}</a></td>
            <td>{{ container.count }} item{{ container.count|pluralize }}</td>
            <td>Container</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
